table, tr, td{
    border-collapse:separate;
    border: none;
}

.visible-grid{
    border-collapse: collapse;
}

.visible-grid td{
    border: solid 1px #263238;
}

.cell{
    width: 10px;
    height: 10px;
}

.bg-color{
    background-color: black;
}

.border{
    border: 2px solid black;
    border-style: dashed;
}