:root{
  --loader-btn-bg-color1: #0d4058;
  --loader-btn-bg-color2: #131d22;
  --loader-btn-bg-color3: #143444;
  --loader-btn-bg-color: #455a64;
}

.btn-loader {
  padding: 0;
 
  background: 
  linear-gradient(90deg, var(--loader-btn-bg-color1) 33%,var(--loader-btn-bg-color2) 50%,var(--loader-btn-bg-color3) 66%)
  var(--loader-btn-bg-color);
  background-size:300% 100%;
  animation: l1 0.5s infinite linear;
}
.btn-loader>i{
  opacity: 0;
}
#nav-top .btn-loader{
  width: 40px;
  height: 38px;
}
#nav-footer .btn-loader{
  --loader-btn-bg-color1: #263238;
  --loader-btn-bg-color2: #212c31;
  --loader-btn-bg-color3: #263238;
}
@keyframes l1 {
  0% {background-position: right}
}