:root{
     --snackbar-bg-color: #212c31;
    --snackbar-color: #FFFFFFDE;
    --snackbar-size-btn-close: 35px;
    --alert-content-size: 50vw;
}
.dark-theme{
    color-scheme: dark;
    --snackbar-bg-color: #306986f0;;
    --snackbar-color: #FFFFFFDE;
}
.alert-content{
    min-width: 50vw;
    padding: 5px;
    background-color: transparent;
    position: absolute;
    top: 12%;
    align-self: center;
}
.snackbar{
    width: 100%;
    padding: 8px 12px 8px 12px;
    background-color: var(--snackbar-bg-color);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    column-gap: 15px;
    margin-bottom: 5px;
    z-index: 994;
    opacity: 0;
    transition: 0.2s linear;
}
.snackbar.active{
    opacity: 1;
    transition: 0.2s linear;
}
.snackbar .message{
    color: var(--snackbar-color);
    font-size: 0.9em;
    word-wrap: break-word;
    max-width: calc(var(--alert-content-size) - var(--snackbar-size-btn-close));
}
.snackbar .close{
    background-color: transparent;
    width: var(--snackbar-size-btn-close);
    height: var(--snackbar-size-btn-close);
    border-radius: 50%;
    border-color: var(--snackbar-bg-color);
    border-style: none;
}
.snackbar .close:hover{
    background-color: hsla(0, 0%, 100%, 0.068);
}

@media (max-width: 768px) {

    .snackbar{
        min-width: 87vw;
        --alert-content-size: 87vw;
    }
    .snackbar .message{
        font-size: 1em;
        max-width: calc(var(--alert-content-size) - var(--snackbar-size-btn-close) - 10vw);
    }

}